[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Comment=CLion C/C++ IDE
Exec=/home/martins/Builds/clion-2016.2/bin/clion.sh
Icon=/home/martins/.thumbnails/normal/b2605e606ac891a1fd7ad0838fe44e92.png
Path=
Terminal=false
StartupNotify=false
