[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/martins/Desktop/notes.txt]
row=3
col=2

[/home/martins/Desktop/balta]
row=2
col=0

[/home/martins/Desktop/puppyfind]
row=3
col=1

[/home/martins/Desktop/ltk_bill_55119899.pdf]
row=0
col=2

[/home/martins/Desktop/IMG_20160902_002228.jpg]
row=4
col=1

[/home/martins/Desktop/Kevin]
row=5
col=0

[/home/martins/Desktop/DSC_8466.jpg]
row=5
col=1

[/home/martins/Desktop/Pedigree]
row=1
col=1

[/home/martins/Desktop/Magoosh GRE Videos]
row=0
col=1

[/home/martins/Desktop/regenerate-thumbnails.zip]
row=2
col=2

[/home/martins/Desktop/KontaParskats.csv]
row=3
col=0

[/home/martins/Desktop/fb]
row=2
col=1

[/home/martins/Desktop/b.odt]
row=4
col=0

[/home/martins/Desktop/words.ods]
row=6
col=0

[/]
row=0
col=0

[/home/martins]
row=1
col=0

