[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/martins/Desktop/words.ods]
row=2
col=1

[/home/martins/Desktop/Kevin]
row=3
col=0

[/home/martins/Desktop/fb]
row=2
col=0

[/home/martins/Desktop/notes.txt]
row=1
col=1

[/home/martins/Desktop/b.odt]
row=0
col=1

[/home/martins/Desktop/puppyfind]
row=5
col=0

[/home/martins/Desktop/Pedigree]
row=4
col=0

[/]
row=0
col=0

[/home/martins]
row=1
col=0

